name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run API tests and generate reports
        run: |
          mkdir -p newman
          postman collection run "28301626-8a3f2339-d40c-43e3-8655-87507f819d54" \
            --environment "28301626-a0715255-dc93-4009-9d5e-55ebb6a0b569" \
            --reporters cli,html,junit \
            --reporter-html-export newman/html-report.html \
            --reporter-junit-export newman/junit-report.xml

      - name: Upload HTML Report
        uses: actions/upload-artifact@v3
        with:
          name: postman-html-report
          path: newman/html-report.html

      - name: Upload JUnit Report
        uses: actions/upload-artifact@v3
        with:
          name: postman-junit-report
          path: newman/junit-report.xml
